#excel-viewer {
    width: max-content;
    margin: 10px 0;
}

#excel-viewer table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

#excel-viewer table td,
#excel-viewer table th {
    padding: 8px;
    border: 1px solid #dddddd;
}

#excel-viewer table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#excel-viewer table tr:hover {
    background-color: #dddddd;
}

#excel-viewer table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
    background-color: #4caf50;
}
